.brand {
	border-bottom: 2px solid #333333;
  font-size: 35px;
  text-transform: uppercase;
  background-color: darkorange;
}

.brand a {
	text-decoration: none;
	color: #333333;
}

body {
  height: 100%;
  min-width: 1060px;
  margin: 0;
  color: #66595c;
  font: 16px/1.7 normal normal;
  font-family: "Helvetica Neue", Helvetica, arial, freesans, clean, sans-serif;
}

.titel {
	text-align: center;
}

.texte {
	text-align: justify;
	margin-left: auto;
    margin-right: auto;
    width: 35em
}

