@media screen and (min-width: 1080px) {

.navbar {
  font-size: 20px;
  text-transform: uppercase;
  background: 0;
  text-align: center;
  padding: 1em;
  min-width: 700px;
  max-width: 1920px;
  margin: 0 auto;
}

.logo a {
  float: left;
  text-decoration: none;
  color: #c5c5c5;;
  padding: 5px;
  text-align: center;
}

.logo a:active,
.logo a:hover {
  color: darkorange;
}

li {
  display: inline-block;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navlist a:link,
.navlist a:visited {
  display: block;
  width: 200px;
  text-decoration: none;
  color: #c5c5c5;;
  padding: 5px;
}

.navlist a:hover, 
.navlist a:active {
  color: yellow;
}

/*container*/

.container {
position: relative;
}

.image {
float: right;
margin: -360px 0 1em 1em;
}

.text {
margin-right: 450px;
padding-top: 150px;
}

}
