/* Mobile First */

/* Handy (Iphone 4, 5, 6, ...) ab 0px */

header {
  font-size: 12px;
  background-color: transparent;
  position: absolute;
  width: 100%;
}

body,
html {
  min-height: 100%;
}

body {
  background-image: url(../img/laguna.png);
  background-repeat: no-repeat;
  background-size: cover; 
  background-position: center;
  min-width: inherit;
}

.m-navbar .navlist {
  display: none;
}

.m-navbar.open .navlist {
  display: inline-block;
}

.logo a {
  color: rgba(0,0,0,0.4);
  font-size: 26px;
  padding-left: 15px;
}

.glyphicon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px;
  font-size: 24px;
  color: rgba(0,0,0,0.4);
}

.navlist ul {
  list-style-type: none;
}

.navlist a {
  text-decoration: none;
}

.m-navbar.open #open-m-navbar {
  display: none;
}

.m-navbar #close-m-navbar {
  display: none;
}

.m-navbar.open #close-m-navbar {
  display: block;
}


/* Tablet ... */
@media (min-width: 768px) {
  header {
    font-size: 15px;
    background-color: orange;
  }
}

/* medium Desktop ... */
@media (min-width: 992px) {
  header {
    font-size: 20px;
    background-color: red;
  }
}

/* medium Desktop ... */
@media (min-width: 1200px) {
  header {
    font-size: 30px;
    background-color: darkgreen;
  }
}

/*

@media screen and (min-width: 1080px) {

  .navbar {
    font-size: 20px;
    text-transform: uppercase;
    background: 0;
    text-align: center;
    padding: 1em;
    min-width: 700px;
    max-width: 1920px;
    margin: 0 auto;
  }

  .logo a {
    float: left;
    text-decoration: none;
    color: #c5c5c5;;
    padding: 5px;
    text-align: center;
  }

  .logo a:active,
  .logo a:hover {
    color: darkorange;
  }

  li {
    display: inline-block;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .navlist a:link,
  .navlist a:visited {
    display: block;
    width: 200px;
    text-decoration: none;
    color: #c5c5c5;;
    padding: 5px;
  }

  .navlist a:hover, 
  .navlist a:active {
    color: yellow;
  }

  .container {
  position: relative;
  }

  .image {
  float: right;
  margin: -360px 0 1em 1em;
  }

  .text {
  margin-right: 450px;
  padding-top: 150px;
  }

}
*/
